{% extends "base.html" %}
{% load static %}
{% block contents %}
<!-- Main -->
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h1>진오시선</h1>
                <p>진오(眞吾)의 시선.<br> 제 눈에 보이는 당신을<br> 기록으로 남깁니다.<br><br> 촬영문의 <a href="https://open.kakao.com/o/s8YcHKw">오픈카톡</a></p>
                <ul class="icons">
                    <li><a href="https://www.facebook.com/fpemncnlror" class="icon fa-facebook-official"><span class="label">Facebook</span></a></li>
                    <li><a href="https://instagram.com/photo_jino" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="http://blog.naver.com/xncbg1" class="icon fa-television"><span class="label">Blog</span></a></li>
                    <li><a href="https://open.kakao.com/o/s8YcHKw" class="icon fa-comment"><span class="label">Kakaotalk</span></a></li>
                </ul>
            </header>

        <!-- Thumbnail -->
            <section id="thumbnails">
                {% for image in images %}
                <article>
                    <a class="thumbnail" href="{{ image.resized_image.url }}"><img src="{{ image.thumbnail_image.url }}" alt="{{ image.title }}" /></a>
                    <h2>{{ image.title }}</h2>
                    <p>{{ image.detail }}</p>
                </article>
                {% endfor %}
            </section>

        <!-- Footer -->
            <footer id="footer">
                <ul class="copyright">
                    <li>&copy; 2017.</li><li>Created by <a href="https://github.com/xncbf/jin-o-blog">김준환</a></li>
                </ul>
            </footer>


    </div>
{% endblock %}